.session {
  display: flex;
}
.session span {
  margin: 10px;
}
#nav {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
}
.Navbar{
  display: flex;
}
.Navbar .Navlink {
  margin: 10px;
  text-decoration: none;
  color: black;
}
.cart{
  position: relative;
  top: 10px;
}
#checkout {
  width: 150px;
  height: 40px;
  color: white;
  background-color: blue;
  border-radius: 5px;
}
#total {
  position: relative;
  left: 200px;
}
.Navlink{
 display: flex;

}
#order{
position: relative;
left: 19px;
margin-top:9px;
}

#log{
  margin-top: 9px;
  margin-right: 8px;
}
.card_details{
  position: relative;
  right: 35px;
}
#profile{
  position: relative;
  left: 35px;
  top: 8px;
}